<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> home </title>
</head>
<body>
   <h1>Menu:</h1>
    <nav>
        <ul>
            <li><a href="manage-product.html">Manage Product</a></li>
            <li><a href="order.html">Order</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <h1><table>
        <tr>
            <th>Name</th>
            <th>cost_Price</th>
            <th>selling_Price</th>
            <th>Quantity</th>
            <th>unit</th>
        </tr>
    </table></h1>
</body>
</html>